<p> </p>
<div class="col-sm-7 col-sm-offset-3">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{review.title}}</h1>
      <h3 class="card-subtitle mb-2 text-muted">{{review.movieTitle}}</h3>
      <p class="card-text">{{review.description}}</p>
      <p>
      <div class="row">
      <a href="/reviews/{{review._id}}/edit" class="btn btn-info">Edit</a>
      <a><form method="POST" action="/reviews/comments/{{this._id}}?_method=DELETE">
        <button type="button" class="btn btn-danger" type="submit">Delete</button>
      </form></a>
      </div>
      </p>
      <p class="text-muted">Created on: {{review.createdAt}}</p>
    </div>
</div>
  <h2>Comments</h2>
    {{#each comments}}
      {{> comment}}
    {{/each}}

    <hr>
    {{> comment-form}}
  </div>
